<a href="https://colab.research.google.com/github/Santanukolkata/Data_Science/blob/master/Ad_hoc_projects/Walmart_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
import datetime

In [5]:
from google.colab import drive
drive.mount('/content/drive')
df = pd.read_csv('/content/drive/My Drive/Colab Notebooks/Retail/Walmart_Store_sales.csv')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [6]:
df.head()

   Store        Date  Weekly_Sales  ...  Fuel_Price         CPI  Unemployment
0      1  05-02-2010    1643690.90  ...       2.572  211.096358         8.106
1      1  12-02-2010    1641957.44  ...       2.548  211.242170         8.106
2      1  19-02-2010    1611968.17  ...       2.514  211.289143         8.106
3      1  26-02-2010    1409727.59  ...       2.561  211.319643         8.106
4      1  05-03-2010    1554806.68  ...       2.625  211.350143         8.106

[5 rows x 8 columns]

In [0]:
#checking the columns
df.columns

Index(['Store', 'Date', 'Weekly_Sales', 'Holiday_Flag', 'Temperature',
       'Fuel_Price', 'CPI', 'Unemployment'],
      dtype='object')

In [0]:
#checking column info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6435 entries, 0 to 6434
Data columns (total 8 columns):
Store           6435 non-null int64
Date            6435 non-null object
Weekly_Sales    6435 non-null float64
Holiday_Flag    6435 non-null int64
Temperature     6435 non-null float64
Fuel_Price      6435 non-null float64
CPI             6435 non-null float64
Unemployment    6435 non-null float64
dtypes: float64(5), int64(2), object(1)
memory usage: 402.3+ KB

In [0]:
#checking the null value of any columns
df.isnull().sum()

Store           0
Date            0
Weekly_Sales    0
Holiday_Flag    0
Temperature     0
Fuel_Price      0
CPI             0
Unemployment    0
dtype: int64

In [0]:
#changing date columns
df['Date'] = pd.to_datetime(df['Date'])

In [0]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6435 entries, 0 to 6434
Data columns (total 8 columns):
Store           6435 non-null int64
Date            6435 non-null datetime64[ns]
Weekly_Sales    6435 non-null float64
Holiday_Flag    6435 non-null int64
Temperature     6435 non-null float64
Fuel_Price      6435 non-null float64
CPI             6435 non-null float64
Unemployment    6435 non-null float64
dtypes: datetime64[ns](1), float64(5), int64(2)
memory usage: 402.3 KB

# Basic Statistics tasks

In [0]:
df.describe()

,Store,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
count,6435.000000,6.435000e+03,6435.000000,6435.000000,6435.000000,6435.000000,6435.000000
mean,23.000000,1.046965e+06,0.069930,60.663782,3.358607,171.578394,7.999151
std,12.988182,5.643666e+05,0.255049,18.444933,0.459020,39.356712,1.875885
min,1.000000,2.099862e+05,0.000000,-2.060000,2.472000,126.064000,3.879000
25%,12.000000,5.533501e+05,0.000000,47.460000,2.933000,131.735000,6.891000
50%,23.000000,9.607460e+05,0.000000,62.670000,3.445000,182.616521,7.874000
75%,34.000000,1.420159e+06,0.000000,74.940000,3.735000,212.743293,8.622000
max,45.000000,3.818686e+06,1.000000,100.140000,4.468000,227.232807,14.313000

# Which store has maximum sales

In [0]:
store_wise_sales = df.groupby(['Store'])['Weekly_Sales'].sum()

In [0]:
store_wise_sales.sort_values().head(1)

Store
33    37160221.96
Name: Weekly_Sales, dtype: float64

# Which store has maximum standard deviation i.e., the sales vary a lot. Also, find out the coefficient of mean to standard deviation

In [0]:
df.std()

Store               12.988182
Weekly_Sales    564366.622054
Holiday_Flag         0.255049
Temperature         18.444933
Fuel_Price           0.459020
CPI                 39.356712
Unemployment         1.875885
dtype: float64

In [0]:
store_wise_mean = df.groupby(['Store'])['Weekly_Sales'].mean()

In [0]:
store_wise_mean

Store
1     1.555264e+06
2     1.925751e+06
3     4.027044e+05
4     2.094713e+06
5     3.180118e+05
6     1.564728e+06
7     5.706173e+05
8     9.087495e+05
9     5.439806e+05
10    1.899425e+06
11    1.356383e+06
12    1.009002e+06
13    2.003620e+06
14    2.020978e+06
15    6.233125e+05
16    5.192477e+05
17    8.935814e+05
18    1.084718e+06
19    1.444999e+06
20    2.107677e+06
21    7.560691e+05
22    1.028501e+06
23    1.389864e+06
24    1.356755e+06
25    7.067215e+05
26    1.002912e+06
27    1.775216e+06
28    1.323522e+06
29    5.394514e+05
30    4.385796e+05
31    1.395901e+06
32    1.166568e+06
33    2.598617e+05
34    9.667816e+05
35    9.197250e+05
36    3.735120e+05
37    5.189003e+05
38    3.857317e+05
39    1.450668e+06
40    9.641280e+05
41    1.268125e+06
42    5.564039e+05
43    6.333247e+05
44    3.027489e+05
45    7.859814e+05
Name: Weekly_Sales, dtype: float64

In [0]:
store_wise_std = df.groupby(['Store'])['Weekly_Sales'].std()

In [0]:
store_wise_std

Store
1     155980.767761
2     237683.694682
3      46319.631557
4     266201.442297
5      37737.965745
6     212525.855862
7     112585.469220
8     106280.829881
9      69028.666585
10    302262.062504
11    165833.887863
12    139166.871880
13    265506.995776
14    317569.949476
15    120538.652043
16     85769.680133
17    112162.936087
18    176641.510839
19    191722.638730
20    275900.562742
21    128752.812853
22    161251.350631
23    249788.038068
24    167745.677567
25    112976.788600
26    110431.288141
27    239930.135688
28    181758.967539
29     99120.136596
30     22809.665590
31    125855.942933
32    138017.252087
33     24132.927322
34    104630.164676
35    211243.457791
36     60725.173579
37     21837.461190
38     42768.169450
39    217466.454833
40    119002.112858
41    187907.162766
42     50262.925530
43     40598.413260
44     24762.832015
45    130168.526635
Name: Weekly_Sales, dtype: float64

In [0]:
pd.concat([store_wise_mean,store_wise_std],axis=1)

       Weekly_Sales   Weekly_Sales
Store
1      1.555264e+06  155980.767761
2      1.925751e+06  237683.694682
3      4.027044e+05   46319.631557
4      2.094713e+06  266201.442297
5      3.180118e+05   37737.965745
6      1.564728e+06  212525.855862
7      5.706173e+05  112585.469220
8      9.087495e+05  106280.829881
9      5.439806e+05   69028.666585
10     1.899425e+06  302262.062504
11     1.356383e+06  165833.887863
12     1.009002e+06  139166.871880
13     2.003620e+06  265506.995776
14     2.020978e+06  317569.949476
15     6.233125e+05  120538.652043
16     5.192477e+05   85769.680133
17     8.935814e+05  112162.936087
18     1.084718e+06  176641.510839
19     1.444999e+06  191722.638730
20     2.107677e+06  275900.562742
21     7.560691e+05  128752.812853
22     1.028501e+06  161251.350631
23     1.389864e+06  249788.038068
24     1.356755e+06  167745.677567
25     7.067215e+05  112976.788600
26     1.002912e+06  110431.288141
27     1.775216e+06  239930.135688
28     1.323522e+06  181758.967539
29     5.394514e+05   99120.136596
30     4.385796e+05   22809.665590
31     1.395901e+06  125855.942933
32     1.166568e+06  138017.252087
33     2.598617e+05   24132.927322
34     9.667816e+05  104630.164676
35     9.197250e+05  211243.457791
36     3.735120e+05   60725.173579
37     5.189003e+05   21837.461190
38     3.857317e+05   42768.169450
39     1.450668e+06  217466.454833
40     9.641280e+05  119002.112858
41     1.268125e+06  187907.162766
42     5.564039e+05   50262.925530
43     6.333247e+05   40598.413260
44     3.027489e+05   24762.832015
45     7.859814e+05  130168.526635

In [0]:
df['quarter'] = df['Date'].dt.quarter
df

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment,quarter
0,1,2010-05-02,1643690.90,0,42.31,2.572,211.096358,8.106,2
1,1,2010-12-02,1641957.44,1,38.51,2.548,211.242170,8.106,4
2,1,2010-02-19,1611968.17,0,39.93,2.514,211.289143,8.106,1
3,1,2010-02-26,1409727.59,0,46.63,2.561,211.319643,8.106,1
4,1,2010-05-03,1554806.68,0,46.50,2.625,211.350143,8.106,2
5,1,2010-12-03,1439541.59,0,57.79,2.667,211.380643,8.106,4
6,1,2010-03-19,1472515.79,0,54.58,2.720,211.215635,8.106,1
7,1,2010-03-26,1404429.92,0,51.45,2.732,211.018042,8.106,1
8,1,2010-02-04,1594968.28,0,62.27,2.719,210.820450,7.808,1
9,1,2010-09-04,1545418.53,0,65.86,2.770,210.622857,7.808,3
10,1,2010-04-16,1466058.28,0,66.32,2.808,210.488700,7.808,2
11,1,2010-04-23,1391256.12,0,64.84,2.795,210.439123,7.808,2
12,1,2010-04-30,1425100.71,0,67.41,2.780,210.389546,7.808,2
13,1,2010-07-05,1603955.12,0,72.55,2.835,210.339968,7.808,3
14,1,2010-05-14,1494251.50,0,74.78,2.854,210.337426,7.808,2
15,1,2010-05-21,1399662.07,0,76.44,2.826,210.617093,7.808,2
16,1,2010-05-28,1432069.95,0,80.44,2.759,210.896761,7.808,2
17,1,2010-04-06,1615524.71,0,80.69,2.705,211.176428,7.808,2
18,1,2010-11-06,1542561.09,0,80.43,2.668,211.456095,7.808,4
19,1,2010-06-18,1503284.06,0,84.11,2.637,211.453772,7.808,2
20,1,2010-06-25,1422711.60,0,84.34,2.653,211.338653,7.808,2
21,1,2010-02-07,1492418.14,0,80.91,2.669,211.223533,7.787,1
22,1,2010-09-07,1546074.18,0,80.48,2.642,211.108414,7.787,3
23,1,2010-07-16,1448938.92,0,83.15,2.623,211.100385,7.787,3
24,1,2010-07-23,1385065.20,0,83.36,2.608,211.235144,7.787,3
25,1,2010-07-30,1371986.60,0,81.84,2.640,211.369903,7.787,3
26,1,2010-06-08,1605491.78,0,87.16,2.627,211.504662,7.787,2
27,1,2010-08-13,1508237.76,0,87.00,2.692,211.639421,7.787,3
28,1,2010-08-20,1513080.49,0,86.65,2.664,211.603363,7.787,3
29,1,2010-08-27,1449142.92,0,85.22,2.619,211.567306,7.787,3
...,...,...,...,...,...,...,...,...,...
6405,45,2012-06-04,899479.43,0,49.73,3.996,190.685171,8.567,2
6406,45,2012-04-13,781970.60,0,51.83,4.044,190.759596,8.567,2
6407,45,2012-04-20,776661.74,0,63.13,4.027,190.813801,8.567,2
6408,45,2012-04-27,711571.88,0,53.20,4.004,190.868006,8.567,2
6409,45,2012-04-05,782300.68,0,55.21,3.951,190.922212,8.567,2
6410,45,2012-11-05,770487.37,0,61.24,3.889,190.976417,8.567,4
6411,45,2012-05-18,800842.28,0,66.30,3.848,190.996448,8.567,2
6412,45,2012-05-25,817741.17,0,67.21,3.798,191.002810,8.567,2
6413,45,2012-01-06,837144.63,0,74.48,3.742,191.009171,8.567,1
6414,45,2012-08-06,795133.00,0,64.30,3.689,191.015533,8.567,3
6415,45,2012-06-15,821498.18,0,71.93,3.620,191.029973,8.567,2
6416,45,2012-06-22,822569.16,0,74.22,3.564,191.064610,8.567,2
6417,45,2012-06-29,773367.71,0,75.22,3.506,191.099246,8.567,2
6418,45,2012-06-07,843361.10,0,82.99,3.475,191.133883,8.684,2
6419,45,2012-07-13,749817.08,0,79.97,3.523,191.168519,8.684,3
6420,45,2012-07-20,737613.65,0,78.89,3.567,191.167043,8.684,3
6421,45,2012-07-27,711671.58,0,77.20,3.647,191.165566,8.684,3
6422,45,2012-03-08,725729.51,0,76.58,3.654,191.164090,8.684,1
6423,45,2012-10-08,733037.32,0,78.65,3.722,191.162613,8.684,4
6424,45,2012-08-17,722496.93,0,75.71,3.807,191.228492,8.684,3
6425,45,2012-08-24,718232.26,0,72.62,3.834,191.344887,8.684,3
6426,45,2012-08-31,734297.87,0,75.09,3.867,191.461281,8.684,3
6427,45,2012-07-09,766512.66,1,75.70,3.911,191.577676,8.684,3
6428,45,2012-09-14,702238.27,0,67.87,3.948,191.699850,8.684,3
6429,45,2012-09-21,723086.20,0,65.32,4.038,191.856704,8.684,3
6430,45,2012-09-28,713173.95,0,64.88,3.997,192.013558,8.684,3
6431,45,2012-05-10,733455.07,0,64.89,3.985,192.170412,8.667,2
6432,45,2012-12-10,734464.36,0,54.47,4.000,192.327265,8.667,4
6433,45,2012-10-19,718125.53,0,56.47,3.969,192.330854,8.667,4
6434,45,2012-10-26,760281.43,0,58.85,3.882,192.308899,8.667,4

In [0]:
import datetime

date_time_str = '2018-06-29 08:15:27.243860'
date_time_obj = datetime.datetime.strptime(date_time_str, '%Y-%m-%d %H:%M:%S.%f')

In [0]:
start_date = datetime.datetime(2012, 7, 1)
end_date = datetime.datetime(2012, 9, 30)

In [0]:
filter_q3 = (df['Date'] > start_date) & (df['Date'] <= end_date)

In [0]:
df_filtered_q3 = df.loc[filter_q3]

In [0]:
df_q3_grouped = df_filtered_q3.groupby(['Store'])['Weekly_Sales'].sum()

In [0]:
min = df_filtered_q3.groupby(['Store'])['Weekly_Sales'].sum().min()
max = df_filtered_q3.groupby(['Store'])['Weekly_Sales'].sum().max()

In [0]:
start_date_1 = datetime.datetime(2012, 4, 1)
end_date_1 = datetime.datetime(2012, 6, 30)

In [0]:
filter_q2 = (df['Date'] > start_date_1) & (df['Date'] <= end_date_1)

In [0]:
df_filtered_q2 = df.loc[filter_q2]
df_filtered_q2

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment,quarter
100,1,2012-06-01,1550369.92,0,49.01,3.157,219.714258,7.348,2
113,1,2012-06-04,1899676.88,0,70.43,3.891,221.435611,7.143,2
114,1,2012-04-13,1621031.70,0,69.07,3.891,221.510210,7.143,2
115,1,2012-04-20,1521577.87,0,66.76,3.877,221.564074,7.143,2
116,1,2012-04-27,1468928.37,0,67.23,3.814,221.617937,7.143,2
117,1,2012-04-05,1684519.99,0,75.55,3.749,221.671800,7.143,2
119,1,2012-05-18,1595901.87,0,70.33,3.630,221.742674,7.143,2
120,1,2012-05-25,1555444.55,0,77.22,3.561,221.744944,7.143,2
123,1,2012-06-15,1630607.00,0,79.35,3.393,221.762642,7.143,2
124,1,2012-06-22,1527845.81,0,78.39,3.346,221.803021,7.143,2
125,1,2012-06-29,1540421.49,0,84.88,3.286,221.843400,7.143,2
126,1,2012-06-07,1769854.16,0,81.57,3.227,221.883779,6.908,2
139,1,2012-05-10,1670785.97,0,68.55,3.617,223.181477,6.573,2
243,2,2012-06-01,1799520.14,0,46.75,3.157,219.355063,7.057,2
256,2,2012-06-04,2129035.91,0,68.43,3.891,221.073764,6.891,2
257,2,2012-04-13,1935869.10,0,68.08,3.891,221.148403,6.891,2
258,2,2012-04-20,1847344.45,0,65.69,3.877,221.202107,6.891,2
259,2,2012-04-27,1764133.09,0,67.20,3.814,221.255812,6.891,2
260,2,2012-04-05,1923957.09,0,76.73,3.749,221.309517,6.891,2
262,2,2012-05-18,2000940.67,0,71.27,3.630,221.380331,6.891,2
263,2,2012-05-25,1912791.09,0,78.19,3.561,221.382803,6.891,2
266,2,2012-06-15,1962924.30,0,80.56,3.393,221.400990,6.891,2
267,2,2012-06-22,1887733.21,0,81.04,3.346,221.441162,6.891,2
268,2,2012-06-29,1881046.12,0,86.32,3.286,221.481334,6.891,2
269,2,2012-06-07,2041507.40,0,84.20,3.227,221.521506,6.565,2
282,2,2012-05-10,1998321.04,0,70.27,3.617,222.815930,6.170,2
386,3,2012-06-01,398178.21,0,52.42,3.157,223.192305,6.833,2
399,3,2012-06-04,503232.13,0,73.01,3.891,224.939340,6.664,2
400,3,2012-04-13,420789.74,0,72.83,3.891,225.013556,6.664,2
401,3,2012-04-20,434822.13,0,72.05,3.877,225.068954,6.664,2
...,...,...,...,...,...,...,...,...,...
6130,43,2012-06-22,613270.79,0,87.51,3.346,213.212379,9.575,2
6131,43,2012-06-29,593128.13,0,89.85,3.286,213.246062,9.575,2
6132,43,2012-06-07,645618.59,0,82.68,3.227,213.279745,9.285,2
6145,43,2012-05-10,642614.89,0,74.09,3.617,214.491267,8.839,2
6249,44,2012-06-01,325327.93,0,33.80,3.080,130.157516,5.774,2
6262,44,2012-06-04,320021.10,0,48.85,3.793,131.037548,5.621,2
6263,44,2012-04-13,311390.22,0,51.70,3.833,131.108000,5.621,2
6264,44,2012-04-20,323233.80,0,50.24,3.845,131.117333,5.621,2
6265,44,2012-04-27,330338.36,0,64.80,3.842,131.126667,5.621,2
6266,44,2012-04-05,326053.28,0,54.41,3.831,131.136000,5.621,2
6268,44,2012-05-18,334042.43,0,65.17,3.808,131.098323,5.621,2
6269,44,2012-05-25,343268.29,0,62.39,3.801,131.028774,5.621,2
6272,44,2012-06-15,338400.82,0,65.97,3.756,130.829533,5.621,2
6273,44,2012-06-22,336241.00,0,72.89,3.737,130.792900,5.621,2
6274,44,2012-06-29,338386.08,0,82.00,3.681,130.756267,5.621,2
6275,44,2012-06-07,358461.58,0,79.23,3.630,130.719633,5.407,2
6288,44,2012-05-10,337390.44,0,61.79,3.815,131.075667,5.217,2
6392,45,2012-06-01,714081.05,0,35.88,3.422,189.194056,8.424,2
6405,45,2012-06-04,899479.43,0,49.73,3.996,190.685171,8.567,2
6406,45,2012-04-13,781970.60,0,51.83,4.044,190.759596,8.567,2
6407,45,2012-04-20,776661.74,0,63.13,4.027,190.813801,8.567,2
6408,45,2012-04-27,711571.88,0,53.20,4.004,190.868006,8.567,2
6409,45,2012-04-05,782300.68,0,55.21,3.951,190.922212,8.567,2
6411,45,2012-05-18,800842.28,0,66.30,3.848,190.996448,8.567,2
6412,45,2012-05-25,817741.17,0,67.21,3.798,191.002810,8.567,2
6415,45,2012-06-15,821498.18,0,71.93,3.620,191.029973,8.567,2
6416,45,2012-06-22,822569.16,0,74.22,3.564,191.064610,8.567,2
6417,45,2012-06-29,773367.71,0,75.22,3.506,191.099246,8.567,2
6418,45,2012-06-07,843361.10,0,82.99,3.475,191.133883,8.684,2
6431,45,2012-05-10,733455.07,0,64.89,3.985,192.170412,8.667,2

In [0]:
df_q2_grouped = df_filtered_q2.groupby(['Store'])['Weekly_Sales'].sum()
df_q2_grouped

Store
1     21036965.58
2     25085123.61
3      5562668.16
4     28384185.16
5      4427262.21
6     20728970.16
7      7613593.92
8     11934275.61
9      7431320.13
10    23598433.93
11    17879095.77
12    13193365.04
13    26803225.55
14    24427769.06
15     7867952.23
16     6626133.44
17    12918892.02
18    13834706.08
19    18315278.56
20    27550180.62
21     9226279.62
22    13329065.39
23    18283424.90
24    17768191.98
25     9247467.19
26    13218289.66
27    22593640.73
28    16985999.95
29     7034493.19
30     5786335.45
31    18249155.35
32    15415236.21
33     3512138.05
34    12858027.98
35    10753570.97
36     4090378.90
37     6859777.96
38     5732362.70
39    20191585.63
40    12849747.45
41    17560035.88
42     7608247.31
43     8239792.67
44     4322555.33
45    10278900.05
Name: Weekly_Sales, dtype: float64

In [0]:
df_conc = pd.concat([df_q2_grouped,df_q3_grouped],axis=1)
df_conc
df_conc.columns = ['Sales_q2','Sales_q3']
df_conc

          Sales_q2     Sales_q3
Store
1      21036965.58  18633209.98
2      25085123.61  22396867.61
3       5562668.16   4966495.93
4      28384185.16  25652119.35
5       4427262.21   3880621.88
6      20728970.16  18341221.11
7       7613593.92   7322393.92
8      11934275.61  10873860.34
9       7431320.13   6528239.56
10     23598433.93  21169356.45
11     17879095.77  16094363.07
12     13193365.04  11777508.50
13     26803225.55  24319994.35
14     24427769.06  20140430.40
15      7867952.23   6909374.37
16      6626133.44   6441311.11
17     12918892.02  11533998.38
18     13834706.08  12507521.72
19     18315278.56  16644341.31
20     27550180.62  24665938.11
21      9226279.62   8403507.99
22     13329065.39  11818544.33
23     18283424.90  17103654.36
24     17768191.98  16125999.86
25      9247467.19   8309440.44
26     13218289.66  12417575.35
27     22593640.73  20191238.11
28     16985999.95  15055659.67
29      7034493.19   6127862.07
30      5786335.45   5181974.44
31     18249155.35  16454328.46
32     15415236.21  14142164.84
33      3512138.05   3177072.43
34     12858027.98  11476258.98
35     10753570.97  10252122.68
36      4090378.90   3578123.58
37      6859777.96   6250524.08
38      5732362.70   5129297.64
39     20191585.63  18899955.17
40     12849747.45  11647661.37
41     17560035.88  16373588.44
42      7608247.31   6830839.86
43      8239792.67   7376726.03
44      4322555.33   4020486.01
45     10278900.05   8851242.32

In [0]:
df_conc.pct_change(axis='columns').sort_values(by='Sales_q3', ascending=False)

       Sales_q2  Sales_q3
Store
16          NaN -0.027893
7           NaN -0.038247
35          NaN -0.046631
26          NaN -0.060576
39          NaN -0.063969
23          NaN -0.064527
41          NaN -0.067565
44          NaN -0.069882
32          NaN -0.082585
37          NaN -0.088815
8           NaN -0.088855
21          NaN -0.089177
19          NaN -0.091232
24          NaN -0.092423
13          NaN -0.092647
40          NaN -0.093549
33          NaN -0.095402
18          NaN -0.095932
4           NaN -0.096253
31          NaN -0.098351
11          NaN -0.099822
25          NaN -0.101436
42          NaN -0.102180
10          NaN -0.102934
30          NaN -0.104446
20          NaN -0.104691
43          NaN -0.104744
38          NaN -0.105204
27          NaN -0.106331
2           NaN -0.107165
3           NaN -0.107174
17          NaN -0.107199
12          NaN -0.107316
34          NaN -0.107464
22          NaN -0.113325
28          NaN -0.113643
1           NaN -0.114263
6           NaN -0.115189
9           NaN -0.121524
15          NaN -0.121833
5           NaN -0.123471
36          NaN -0.125234
29          NaN -0.128884
45          NaN -0.138892
14          NaN -0.175511

In [0]:
df_non_holiday = df[df.Holiday_Flag== 0]
df_holiday = df[df.Holiday_Flag == 1]
mean_non_holiday = df_non_holiday['Weekly_Sales'].mean()

In [0]:
df_holiday_high_sales = df_holiday[df_holiday.Weekly_Sales > mean_non_holiday]
df_holiday_high_sales.sort_values(by = 'Weekly_Sales',ascending=False)

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment,quarter
523,4,2011-11-25,3004702.33,1,47.96,3.225,129.836400,5.143,4
1381,10,2011-11-25,2950198.64,1,60.68,3.760,129.836400,7.874,4
1329,10,2010-11-26,2939946.38,1,55.33,3.162,126.669267,9.003,4
1901,14,2010-11-26,2921709.71,1,46.15,3.039,182.783277,8.724,4
2811,20,2011-11-25,2906233.25,1,46.38,3.492,211.412076,7.082,4
1810,13,2011-11-25,2864170.61,1,38.89,3.445,129.836400,6.392,4
2759,20,2010-11-26,2811634.04,1,46.66,3.039,204.962100,7.484,4
471,4,2010-11-26,2789469.45,1,48.08,2.752,126.669267,7.127,4
1758,13,2010-11-26,2766400.05,1,28.22,2.830,126.669267,7.795,4
1953,14,2011-11-25,2685351.81,1,48.71,3.492,188.350400,8.523,4
185,2,2010-11-26,2658725.29,1,62.98,2.735,211.406287,8.163,4
3760,27,2010-11-26,2627910.75,1,46.67,3.186,136.689571,8.021,4
237,2,2011-11-25,2614202.30,1,56.36,3.236,218.113027,7.441,4
3812,27,2011-11-25,2504400.71,1,47.88,3.689,140.421786,7.906,4
2822,20,2012-10-02,2462978.28,1,33.47,3.640,213.118614,6.961,4
534,4,2012-10-02,2374660.64,1,33.00,3.411,130.384903,4.607,4
5528,39,2011-11-25,2338832.40,1,66.36,3.236,217.181253,7.716,4
757,6,2010-11-26,2267452.40,1,65.79,2.735,213.267296,7.007,4
809,6,2011-11-25,2249811.55,1,62.78,3.236,220.041741,6.551,4
1392,10,2012-10-02,2218595.80,1,55.73,3.722,130.384903,7.545,4
2770,20,2011-11-02,2211388.14,1,25.38,3.239,206.076386,7.343,4
1942,14,2011-09-09,2202742.90,1,71.48,3.738,186.673738,8.625,3
1890,14,2010-10-09,2191767.76,1,70.87,2.699,182.598178,8.743,4
430,4,2010-12-02,2188307.39,1,28.84,2.573,126.496258,8.623,4
482,4,2011-11-02,2187847.29,1,33.29,3.033,127.859129,6.510,4
1288,10,2010-12-02,2176028.52,1,49.96,2.828,126.496258,9.765,4
196,2,2011-11-02,2168041.61,1,33.19,3.022,212.592862,8.028,4
1851,13,2012-07-09,2165796.31,1,70.65,3.689,130.932548,5.765,3
5476,39,2010-11-26,2149355.20,1,67.75,2.735,210.515277,8.476,4
144,2,2010-12-02,2137809.50,1,38.49,2.548,210.897994,8.324,4
...,...,...,...,...,...,...,...,...,...
6386,45,2011-11-25,1170672.94,1,48.71,3.492,188.350400,8.523,4
3193,23,2010-12-31,1169773.85,1,19.05,3.177,132.815032,5.287,4
4863,35,2010-12-02,1168815.31,1,29.81,2.773,135.411308,9.262,4
5619,40,2010-11-26,1166142.85,1,32.94,3.070,132.836933,5.287,4
2371,17,2011-09-09,1161900.18,1,61.94,3.619,129.368613,6.745,3
2536,18,2012-10-02,1161615.51,1,32.83,3.655,137.166677,8.075,4
5773,41,2011-11-02,1150003.36,1,16.81,3.037,191.857288,7.241,4
4538,32,2012-10-02,1129422.86,1,23.34,3.103,196.919506,8.256,4
4516,32,2011-09-09,1128237.30,1,61.24,3.566,194.638785,8.622,3
4568,32,2012-07-09,1126685.95,1,72.56,3.596,198.095048,7.872,3
4486,32,2011-11-02,1124357.20,1,18.51,3.037,191.857288,8.818,4
4434,32,2010-12-02,1123566.12,1,28.09,2.572,189.464273,9.014,4
2484,18,2011-11-02,1122053.58,1,24.30,3.255,133.260871,9.131,4
2044,15,2010-11-26,1120018.92,1,40.71,3.186,132.836933,8.067,4
1574,12,2010-12-02,1117863.33,1,47.87,2.946,126.496258,13.975,4
3526,25,2011-11-25,1116211.39,1,43.49,3.492,211.412076,7.082,4
3474,25,2010-11-26,1115240.61,1,43.43,3.039,204.962100,7.484,4
1672,12,2011-12-30,1111638.07,1,44.64,3.428,130.071032,12.890,4
4532,32,2011-12-30,1102367.65,1,32.99,3.119,196.358610,8.513,4
3908,28,2010-12-31,1090558.57,1,45.64,3.148,127.087677,14.313,4
5712,40,2012-07-09,1088248.40,1,65.06,3.921,138.472936,4.156,3
1626,12,2011-11-02,1086421.57,1,51.30,3.381,127.859129,14.021,4
2566,18,2012-07-09,1083521.24,1,71.85,3.921,138.472936,8.535,3
3710,26,2012-07-09,1081874.03,1,61.58,3.921,138.472936,7.405,3
3680,26,2012-10-02,1081005.64,1,23.89,3.655,137.166677,7.467,4
5721,41,2010-12-02,1075656.34,1,23.04,2.572,189.464273,7.541,4
3658,26,2011-09-09,1069710.97,1,60.98,3.809,136.274581,7.767,3
2096,15,2011-11-25,1066478.10,1,41.10,3.689,136.478800,7.866,4
4824,34,2012-10-02,1047658.09,1,36.70,3.411,130.384903,9.653,4
3606,26,2010-10-09,1042226.30,1,54.82,2.717,132.756452,8.445,4

In [0]:
from sklearn.linear_model import LinearRegression
lm = LinearRegression()

In [0]:
df_g = df.groupby(['Store'],as_index=False)
df_g = df_g.aggregate(np.sum)
df_g

,Store,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment,quarter
0,1,2.224028e+08,10,9767.87,460.417,30887.555523,1088.290,357
1,2,2.753824e+08,10,9754.94,460.417,30837.422420,1090.210,357
2,3,5.758674e+07,10,10215.09,460.417,31372.988971,1026.309,357
3,4,2.995440e+08,10,8902.23,460.027,18401.192733,852.951,357
4,5,4.547569e+07,10,9925.65,460.417,30968.878137,900.243,357
5,6,2.237561e+08,10,9967.10,460.417,31110.107182,944.787,357
6,7,8.159828e+07,10,5680.00,463.543,27693.986741,1227.760,357
7,8,1.299512e+08,10,8939.50,460.417,31379.780750,871.134,357
8,9,7.778922e+07,10,9691.85,460.417,31406.616557,872.283,357
9,10,2.716177e+08,10,10330.49,511.357,18401.192733,1195.904,357
10,11,1.939628e+08,10,10364.75,460.417,31372.988971,1026.309,357
11,12,1.442872e+08,10,10047.58,515.718,18401.192733,1875.657,357
12,13,2.865177e+08,10,7678.69,469.919,18401.192733,1001.261,357
13,14,2.889999e+08,10,8264.11,488.718,26638.851959,1236.771,357
14,15,8.913368e+07,10,7412.24,511.696,19318.242848,1143.464,357
15,16,7.425243e+07,10,6439.30,463.543,27693.986741,926.353,357
16,17,1.277821e+08,10,6633.37,469.919,18401.192733,936.565,357
17,18,1.551147e+08,10,7632.09,492.169,19318.242848,1263.877,357
18,19,2.066349e+08,10,7478.19,511.696,19318.242848,1143.464,357
19,20,3.013978e+08,10,7929.55,488.718,29892.452680,1054.112,357
20,21,1.081179e+08,10,9845.21,460.417,30837.422420,1090.210,357
21,22,1.470756e+08,10,7850.29,492.169,19878.613542,1153.920,357
22,23,1.987506e+08,10,6979.13,492.169,19318.242848,685.830,357
23,24,1.940160e+08,10,7726.29,511.696,19318.242848,1207.923,357
24,25,1.010612e+08,10,7455.79,488.718,29892.452680,1054.112,357
25,26,1.434164e+08,10,6243.13,492.169,19318.242848,1125.706,357
26,27,2.538559e+08,10,8195.49,511.696,19878.613542,1144.250,357
27,28,1.892637e+08,10,10047.58,515.718,18401.192733,1875.657,357
28,29,7.714155e+07,10,7850.29,492.169,19318.242848,1402.313,357
29,30,6.271689e+07,10,9845.21,460.417,30837.422420,1090.210,357
30,31,1.996139e+08,10,9845.21,460.417,30837.422420,1090.210,357
31,32,1.668192e+08,10,7542.90,463.543,27693.986741,1227.760,357
32,33,3.716022e+07,10,10972.13,511.357,18401.192733,1220.241,357
33,34,1.382498e+08,10,8364.91,460.027,18401.192733,1420.677,357
34,35,1.315207e+08,10,8195.49,488.718,19878.613542,1256.766,357
35,36,5.341221e+07,10,10175.93,458.201,30706.256907,1125.274,357
36,37,7.420274e+07,10,10175.93,460.417,30706.256907,1125.274,357
37,38,5.515963e+07,10,10047.58,515.718,18401.192733,1875.657,357
38,39,2.074455e+08,10,10095.42,460.417,30706.256907,1125.274,357
39,40,1.378703e+08,10,6817.46,492.169,19318.242848,685.830,357
40,41,1.813419e+08,10,6922.68,463.543,27693.986741,997.193,357
41,42,7.956575e+07,10,10330.49,511.357,18401.192733,1195.904,357
42,43,9.056544e+07,10,9849.51,460.417,29706.128216,1420.677,357
43,44,4.329309e+07,10,7678.69,469.919,18401.192733,963.194,357
44,45,1.123953e+08,10,8264.11,488.718,26638.851959,1236.771,357

In [0]:
x = df_g.loc[:,['CPI','Fuel_Price','Unemployment']]
y = df_g.loc[:,['Weekly_Sales']]

In [0]:
reg = lm.fit(x,y)

In [0]:
reg.coef_

array([[  -588.74451679, 456524.85146824, -56408.90333887]])

In [0]:
reg.intercept_

array([9426069.04883459])